/* ==========================================
   MEXA HOME THEMES
   WARNA ONLY
========================================== */


/* DEFAULT TEMA */

:root{

--mx-bg:#0b0818;
--mx-card:#141027;
--mx-panel:#100c22;

--mx-text:#ffffff;
--mx-muted:#aaa4c2;

--mx-border:#30264d;

--mx-primary:#00e5ff;
--mx-secondary:#8b5cf6;

--mx-shadow:0 10px 30px #0008;

}



/* =========================
   MIDNIGHT NEON
========================= */

body[data-theme="midnight"]{

--mx-bg:#090615;
--mx-card:#151026;
--mx-panel:#100b20;

--mx-text:#ffffff;
--mx-muted:#aaa3c5;

--mx-border:#34245b;

--mx-primary:#00e5ff;
--mx-secondary:#8b5cf6;

}



/* =========================
   ARCTIC LIGHT
========================= */

body[data-theme="arctic"]{

--mx-bg:#edf7ff;
--mx-card:#ffffff;
--mx-panel:#f8fcff;

--mx-text:#101827;
--mx-muted:#64748b;

--mx-border:#cbdff5;

--mx-primary:#0284c7;
--mx-secondary:#2563eb;

}



/* =========================
   EMERALD
========================= */

body[data-theme="emerald"]{

--mx-bg:#06120e;
--mx-card:#0d2119;
--mx-panel:#081812;

--mx-text:#f0fff8;
--mx-muted:#9ccbb8;

--mx-border:#14532d;

--mx-primary:#34d399;
--mx-secondary:#10b981;

}



/* =========================
   SUNSET
========================= */

body[data-theme="sunset"]{

--mx-bg:#180914;
--mx-card:#271025;
--mx-panel:#210b20;

--mx-text:#fff7fb;
--mx-muted:#d7a8c2;

--mx-border:#6b3055;

--mx-primary:#fb7185;
--mx-secondary:#f97316;

}



/* =========================
   CYBERPUNK
========================= */

body[data-theme="cyberpunk"]{

--mx-bg:#050509;
--mx-card:#101020;
--mx-panel:#090914;

--mx-text:#ffffff;
--mx-muted:#9ca3af;

--mx-border:#312e81;

--mx-primary:#22d3ee;
--mx-secondary:#c026d3;

}



/* =========================
   TERAPKAN WARNA
========================= */


body{

background:var(--mx-bg);
color:var(--mx-text);

}



.mx-card,
.mx-search-box,
#mx-control-panel{

background:var(--mx-card);

border:1px solid var(--mx-border);

box-shadow:var(--mx-shadow);

}



input,
textarea{

background:var(--mx-panel);

color:var(--mx-text);

border:1px solid var(--mx-border);

}



button,
a{

color:var(--mx-text);

}



button:hover,
a:hover{

color:var(--mx-primary);

}



.mx-brand,
.mx-primary{

color:var(--mx-primary);

}



.mx-x{

color:var(--mx-secondary);

}



.mx-bottom-nav{

background:var(--mx-panel);

border-top:1px solid var(--mx-border);

}



.mx-bottom-nav span{

color:var(--mx-muted);

}



.mx-bottom-nav a:hover,
.mx-bottom-nav button:hover{

color:var(--mx-primary);

}



/* tombol posting */

#mexaPostButton{

background:var(--mx-primary);

color:#000;

border:0;

}



/* garis ikon logo E */

.mx-e i{

background:var(--mx-primary);

}



/* icon kotak header */

.mx-header-buttons button,
.mx-header-buttons a{

background:var(--mx-card);

border:1px solid var(--mx-border);

}


